<div class = "recipe_container">
<h1 class = "recipe-title">Recipes</h1>
<button> <%= link_to "Add recipe", new_recipe_path %> </button>

<div id="recipes">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe) do %>
        <%= render partial: 'recipe', locals: { recipe: recipe } %>
      <% end %>
    <% end %>
  </div>