<div class = "recipe_container">
<h1 class = "recipe-title">Recipes</h1>
<button> <%= link_to "New recipe", new_recipe_path %> </button>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>
</div>